@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<BSCollapse>
    <Toggler><BSToggle IsButton="true" Color="BSColor.Primary" style="display:block; margin: 0 auto;">Nytt meddelande</BSToggle></Toggler>
    <Content>
        <br /><br />
        <BSCard CardType="CardType.Card" style="width:18rem; background-color: #77CCFF; text-align: center; display:block; margin: 0 auto;">
            <form id="messagetype-options">
            <div class="form-group">
              <label for="msgt">Meddelandetyp:</label><br />
              <select id="msgt" name="msgt" @onchange="OnDropdownChange">
              <option value="Chat">Chatt</option>
              <option value="Arbetsorder">Arbetsorder</option>
              </select>
            </div>
            </form>
            @if (messagetypeInput == "Arbetsorder")
            {
            <div class="form-group">
              <label>
              Rum:<br />
              <input @bind="roomInput" />
              </label>
              </div>
            }
            <div class="form-group">
              <label>
              Ditt namn:
              <input @bind="authorInput" style="width: 18rem;"/>
              </label>
              </div>
            <div class="form-group">
              <label>
              Meddelande:<br />
              <textarea @bind="messageInput" cols="40" rows="5" style="width: 18rem;"></textarea>
              </label>
            </div>
            <BSButton Color="BSColor.Primary" @onclick="Send" disabled="@(!IsConnected)" style="width:50%; position: relative; left: 4rem;">Skicka</BSButton>
            <p style="color: red">@infoMessage</p>
        </BSCard>
    </Content>
</BSCollapse>
<hr>


@code {
    private HubConnection? hubConnection;
    private string? messagetypeInput;
    private string? roomInput;
    private string? authorInput;
    private string? messageInput;
    private string? infoMessage;

    private void OnDropdownChange(ChangeEventArgs e)
    {
      messagetypeInput = e.Value?.ToString();
      roomInput = "";
      authorInput = "";
      messageInput = "";
      infoMessage = "";
    }
    protected override async Task OnInitializedAsync()
    {
        messagetypeInput = "Chat";

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
      if (hubConnection is not null)
      {
        if(authorInput?.Count() > 1 && messageInput?.Count() > 1){
          await hubConnection.SendAsync("SendMessage", messagetypeInput, roomInput, authorInput, messageInput);
          roomInput = "";
          messageInput = "";
        }
        else {
          infoMessage = "Du måste fylla i båda fälten Ditt namn och Meddelande ovan för att skicka meddelandet.";
        }
      }
    }
    public bool IsConnected =>
      hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
      if (hubConnection is not null)
      {
        await hubConnection.DisposeAsync();
      }
    }
}