@using Meddelandecentralen.Pages
@inherits MessageServiceBase
@implements IAsyncDisposable

<BSCollapse>
    <Toggler><BSToggle IsButton="true" Color="BSColor.Primary" style="display:block; margin: 0 auto;">Nytt meddelande</BSToggle></Toggler>
    <Content>
        <br /><br />
        <BSCard CardType="CardType.Card" style="width:18rem; background-color: #77CCFF; text-align: center; display:block; margin: 0 auto;">
            <form id="messagetype-options">
            <div class="form-group">
              <label for="msgt">Meddelandetyp:</label><br />
              <select id="msgt" name="msgt" @onchange="OnDropdownChange">
              <option value="Chat">Chatt</option>
              <option value="Arbetsorder">Arbetsorder</option>
              </select>
            </div>
            </form>
            @if (messagetypeInput == "Arbetsorder")
            {
            <div class="form-group">
              <label>
              Rum:<br />
              <input @bind="roomInput" />
              </label>
              </div>
            }
            <div class="form-group">
              <label>
              Ditt namn:
              <input @bind="authorInput" style="width: 18rem;"/>
              </label>
              </div>
            <div class="form-group">
              <label>
              Meddelande:<br />
              <textarea @bind="messageInput" cols="40" rows="5" style="width: 18rem;"></textarea>
              </label>
            </div>
            <BSButton Color="BSColor.Primary" @onclick="SendMessage" disabled="@(!IsConnected)" style="width:50%; position: relative; left: 4rem;">Skicka</BSButton>
            <p style="color: red">@infoMessage</p>
        </BSCard>
    </Content>
</BSCollapse>
<hr>


@code {
    private void OnDropdownChange(ChangeEventArgs e)
    {
      messagetypeInput = e.Value?.ToString();
      roomInput = "";
      authorInput = "";
      messageInput = "";
      infoMessage = "";
    }
}